<app-add-project (addItem)="addTodo($event)">
</app-add-project>
<div class="container-fluid">
    <div class="row">
        <div class="card m-2 w-100 px-4 py-2" *ngFor="let item of todos">
            <h5 routerLink="/project/{{pid}}/todo/{{item.id}}">{{item.name}}</h5>
            <span class="ml-auto text-danger" style="cursor: pointer;"><i class="fas fa-trash-alt"
                    (click)="deleteTodo(item.id)"></i></span>
        </div>
    </div>
</div>