<app-add-project (addItem)="addProject($event)">
</app-add-project>
<div class="container-fluid mx-4">
    <div class="row mt-3 mx-auto">
        <div class="card m-2" style="width: 18rem;" *ngFor="let project of projects">
            <span class="position-absolute sticky-right rounded-circle p-1 text-danger btn-link" style="
                cursor: pointer;
                text-decoration: none;
                right:0px;
            "><i class="fas fa-trash-alt" (click)="deleteProject(project.id)"></i></span>
            <div class="card-body ">
                <h5 class="card-title">{{project.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="card-link" routerLink="/project/{{project.id}}">Card link</a>
            </div>
        </div>
    </div>
</div>