<app-add-project (addItem)="addTodoItem($event)">
</app-add-project>
<div class="container-fluid">
    <div class="row">
        <div class="m-1 col-12 card" *ngFor="let item of todoItems">
            <div>
                <input type="checkbox" class="mr-2" [checked]="item.completed" (change)="changeStatus(item,$event)" />
                <a routerLink="/project/{{pid}}/todo/{{tid}}/item/{{item.id}}"
                    [ngClass]="item.completed ? 'is-complete' : ''">{{item.name}}</a>
                <span class=" ml-auto text-danger float-right" style="cursor: pointer;"><i class="fas fa-trash-alt"
                        (click)="deleteTodoItem(item.id)"></i></span>
            </div>
        </div>
    </div>
</div>