<div class="col-12 px-0">
    <form class="form" (ngSubmit)="onSubmit()">
        <input type="text" name="title" [(ngModel)]="name" placeholder="Add Item...">
        <input type="submit" value="submit" class="btn">
    </form>
</div>