<form class="form-signin col-4 mx-auto mt-3 text-center" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <input type="email" id="inputEmail" class="form-control mt-4" placeholder="Email address" required="" autofocus=""
        [(ngModel)]="email" name="email">
    <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required=""
        [(ngModel)]="password" name="password">

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
</form>
<div class="text-center mt-4">Don't have an account? <a routerLink="/signup"> signup</a></div>