<form class="form-signin col-4 mx-auto mt-3 text-center" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Signup</h1>
    <input type="email" id="inputName" class="form-control mt-4" placeholder="Name" required="" autofocus=""
        [(ngModel)]="name" name="name">
    <input type="email" id="inputEmail" class="form-control mt-3" placeholder="Email address" required=""
        [(ngModel)]="email" name="email">
    <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required=""
        [(ngModel)]="password" name="password">

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign up</button>
</form>
<div class="text-center mt-4">Already have an account? <a routerLink="/login"> login</a></div>